/*nav*/
.website-nav {
    position: relative;
    align-items: center;
    display: table;
    margin: 0 auto;
}

.website-nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.website-nav ul li {
    float: left;
    alignment: center;
    padding: 0.5rem 2rem 0.5rem 0;
    line-height: 21px;
}

.website-nav ul li a {
    color: black;
    font-family: "sans-serif", Roboto, Arial;
    text-decoration: none;
}

/*date*/
[type="date"] {
    background:#fff url(https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/calendar_2.png)  97% 50% no-repeat ;
}
[type="date"]::-webkit-inner-spin-button {
    display: none;
}
[type="date"]::-webkit-calendar-picker-indicator {
    opacity: 0;
}